<head>
  <title>All the Pong - A Stats App</title>
  <script src="https://use.typekit.net/lzi8dfl.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <meta content='width=device-width, height=device-height, maximum-scale=1,user-scalable=no' name='viewport'>
</head>

