h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include usual-bold;
  color: $dark-gray;
}

h2 {
  text-transform: uppercase;
  letter-spacing: .05rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
