<template name="addGame">
  {{ > header }}

  <form class="new-match container" action="/games/" autocomplete="off">
    <div class="form-field">
      <label for="player1">Select Player 1</label>
      {{> inputAutocomplete settings=settings id="player1" name="player1" placeholder="Select a Player..."}}
    </div>

    <div class="form-field">
      <label for="player2">Select Player 2</label>
      {{> inputAutocomplete settings=settings id="player2" name="player2" placeholder="Select a Player..."}}
    </div>

    <div class="form-field">
      <label for="firstto">First To</label>
      <select name="firstto" id="firstto">
        <option class="11">11</option>
        <option class="21">21</option>
      </select>
    </div>

    <div class="form-field">
      <label for="bestof">Best of </label>
      <select name="bestof" id="bestof">
        <option class="1">1</option>
        <option class="3">3</option>
        <option class="5">5</option>
        <option class="7">7</option>
      </select>
    </div>

     <button type="submit">Submit</button>
  </form>
</template>

<template name="userPill">
    <span class="label">{{username}}</span>
</template>
