<template name="liveGame">
  {{> header }}
  Match
  <a href="/">Home</a>
  <span id="matchID">{{ _id }}</span>
  {{ gameScores }}
  <div class="player1-stuff">
    <h2>Player 1 {{ player1 }} - {{ scores.[0] }}</h2>
    <a id="player1point">player1 scored</a>
    {{ > player1 }}
  </div>

  <div class="player2-stuff">
    <h2>Player 2 {{ player2 }} - {{ scores.[1] }}</h2>
    <a id="player2point">player2 scored</a>
    {{ > player1 }}
  </div>

  {{ #if winner }}
    <h3>Winner: {{ winner }}</h3>
  {{ /if }}

  {{ #each games }}
    <form id="game{{ @index }}" class="game">
      {{ > player1 }}
    </form>
    {{ #unless winner }}
    <a href="/live/{{ _id }}">Live Game</a>
    {{ /unless }}
  {{ /each }}
  {{ #unless winner }}
  <button class="submit-scores">Submit Scores</button>
  {{ /unless }}
</template>

<template name="player1">

  <button class="player1-add-point">{{ player1 }} +1</button>
  <button class="player1-add-ace">{{ player1 }} Ace</button>
  <button class="player1-add-kill">{{ player1 }} Kill</button>

</template>

<template name="player2">

  <button class="player2-add-point">{{ player2 }} +1</button>
  <button class="player2-add-ace">{{ player2 }} Ace</button>
  <button class="player2-add-kill">{{ player2 }} Kill</button>

</template>
