<template name="uniqueMatch">
  {{> header }}

  <main class="container">
    Match
    <a href="/">Home</a>
    <span id="matchID">{{ _id }}</span>
    <h2>Best of: {{ bestOf }}</h2>
    <p>Games to: {{ gamesTo }}</p>

    <input type="hidden" id="player1rating" value="{{ rating player1 }}">
    <input type="hidden" id="player2rating" value="{{ rating player2 }}">

    {{ #if winner }}
      <h3>Winner: {{ winner }}</h3>
    {{ /if }}

    <div class="games-list">
    {{ #each games }}
      <form id="game{{ @index }}" class="game">
        {{ > oneGame }}
      </form>
    {{ /each }}
    {{ #unless winner }}
    <button class="submit-scores">Submit Scores</button>
    {{ /unless }}
    </div>
  </main>
</template>

<template name="oneGame">

  {{ #if hasScore scores }}
    {{ player1 }} {{ scores.[0] }}
    {{ player2 }} {{ scores.[1] }}
  {{ else }}
    {{ #if notNeeded scores }}
    {{ else }}
    <div class="game">
        <input type="hidden" name="gameID" value="{{ _id }}" class="gameID">
        <label for="player1score">{{ player1 }}</label>
        <input type="number" name="player1score" class="player1score">
        <label for="player2score">{{ player2 }}</label>
        <input type="number" name="player2score" class="player2score">
        <a href="/live/{{ _id }}">Live Game</a>
    </div>
    {{ /if }}
  {{ /if }}

</template>
