<template name="uniquePlayer">
  Player

  {{ _id }}
  <ul>
    <li>Games won/lost: {{ profile.gameWins }}</li>
    <li>Matches won/lost: {{ profile.matchWins }}</li>
  </ul>

  <div class="profile">
    {{ iAmMe currentUser this._id }}

  </div>
</template>
