header {
  height: 3.5rem;
  width: calc(100% - 2rem);
  background: #fff;
  box-sizing: border-box;
  margin: 1rem;

  @media (max-width: 480px) {
    margin-bottom: 3rem;
  }
  line-height: inherit;

  h1 {
    float: left;
    line-height: 3.5rem;
    padding-left: 1rem;
    a {
      padding: 0 0 0 .5rem;
    }
  }

  a {
    color: $dark-gray;
    text-decoration: none;
    padding: 20px;
    display: block;
  }

  .login-close-text {
    text-align: center;
    color: $dark-gray;
    width: 100%;
    padding: 1rem 0 1rem;

  }
}

#login-buttons {
  float: right;
}

.login-link-and-dropdown-list {
  float: right;
}

/**
 * The Accounts UI dropdown
 */
#login-dropdown-list {
  left: auto;
  right: 11px;
  top: 60px;
}


